In [125]:
%load_ext jupyternotify
import numpy as np
import pandas as pd
import glob
import pickle

The jupyternotify extension is already loaded. To reload it, use:
  %reload_ext jupyternotify

In [126]:
# Pickling functions used to save and load the dictionary file

def save_obj(obj, name):
    with open('dataset/'+ name + '.pkl', 'wb') as f:
        pickle.dump(obj, f, pickle.HIGHEST_PROTOCOL)

def load_obj(name):
    with open('dataset/' + name + '.pkl', 'rb') as f:
        return pickle.load(f)

In [447]:
# Importing UN data
data=[]
name=[]
for file_name in glob.glob('dataset/UNDP_HDI/*.csv'):
    data.append(pd.read_csv(file_name,
                             skiprows=0,
                             na_values="..",
                             na_filter=True,
                             header=1))
    name.append(file_name.split('/')[-1].split('.')[0])

# This snippet is for dealing with the format of the imported dataframes
for i in range(len(data)):
    for col in data[i].columns:
        # Drop columns containing 'Unnamed'
        if "Unnamed" in col: data[i].drop(labels=col, axis=1, inplace=True)

In [645]:
data_train = pd.read_csv('dataset/train.csv')
columns_train = list(data_train.columns)

In [133]:
# WARNING!------------------------------------------------------------------------
# This code snippet is not to be run if one wants to get a map
# of columns. In that case refer to the *pickled dictionary file* in the dataset
# folder. This is due to the manual corrections present later in this block, which
# are dependant on a certain sequence of columns from UN data, which in turn
# depends on the glob order. This load order might change on your run!

# This code is kept only to record my steps. 

import re

# Function str_comp compares how similar two strings are
# based on matching words or numbers.
# It returns a value from 0 to 1 (if duplicate words present could be more than 1).
# 0 means strings lstr1 and lstr2 contain completely different words
# and the larger the metric — the better similarity. 
# It's very crude, but gets the job done relatively well for my purpose. 

def str_comp(lstr1, lstr2): # lstr1 and lstr2 are strings to be compared
    
    # Forming 2 lists of words from strings, 
    # ignoring all non alphabet/number symbols.
    # filter removes unnecessary blank strings in the list
    # left by re.split.
    l1 = list(filter(None, re.split(r'\W',lstr1)))
    l2 = list(filter(None, re.split(r'\W',lstr2)))
    
    # matchings DO account for duplicate words in one or both lists of strings,
    # in which case it inflates the final metric to more than 1.
    # Ideally it should be fixed, but it works fine for comparing strings. 
    matchings = 0
    for s1 in l1:
        for s2 in l2:
            if s1.lower() == s2.lower(): matchings+=1
    return matchings/max([len(l1), len(l2)])


# Making a list containing indices to match columns between datasets
# based on the str_comp function 'metric'
col_map=[]
for i, col1 in enumerate(name):
    maxim = 0
    j_m = 0
    for j, col2 in enumerate(columns_train):
        comp = str_comp(col1,col2)
        # This part checks whether this combination of list of strings col1 and col2
        # are more similar than the previous best in this loop. It also checks
        # that the second list of strings col2 has not appeared before in
        # col_map to avoid duplicates. 
        if (comp >= maxim) and (j not in [x[1] for x in col_map]): 
            maxim = comp
            j_m = j
    col_map.append((i, j_m))

# Manually fixing mistakes made by the mapping script
# NOTE! This manual corrections may change on different loads of the data
#
# Please, use the columns dict pickle file in the dataset folder 
# for final mapping. 

corrections = {
    (37, 72): (37, 8),
    (43, 78): (43, 72),
    (56, 41): (56, 42),
    (57, 8): (57, 78),
    (10, 42): (10,41),
}

# Final list with corrections:
col_map_corr = [corrections.get(x,x) for x in col_map]

# Now it's nice and dandy
for i, j in col_map_corr:
    print(i, name[i])
    print(j, columns_train[j], '\n')

0 Education Index
9 Education Index

1 Employment to population ratio (% ages 15 and older)
34 Employment to population ratio (% ages 15 and older)

2 Population, ages 65 and older (millions)
20 Population, ages 65 and older (millions)

3 Mortality rate, infant (per 1,000 live births)
17 Mortality rate, infant (per 1,000 live births)

4 Human Development Index (HDI), female
70 Intergalactic Development Index (IDI), female

5 Estimated gross national income per capita, female (2011 PPP$)
56 Estimated gross galactic income per capita, female

6 Share of seats in parliament (% held by women)
47 Share of seats in senate (% held by female)

7 Labour force participation rate (% ages 15 and older), male
33 Labour force participation rate (% ages 15 and older), male

8 Remittances, inflows (% of GDP)
62 Remittances, inflows (% of GGP)

9 International inbound tourists (thousands)
64 Intergalactic inbound tourists (thousands)

10 Infants lacking immunization, measles (% of one-year-olds)
41 Infants lacking immunization, red hot disease (% of one-galactic year-olds)

11 Foreign direct investment, net inflows (% of GDP)
45 Outer Galaxies direct investment, net inflows (% of GGP)

12 Employment in services (% of total employment)
32 Employment in services (% of total employment)

13 Labour force participation rate (% ages 15 and older)
30 Labour force participation rate (% ages 15 and older)

14 Mean years of schooling, male (years)
50 Mean years of education, male (galactic years)

15 Expected years of schooling, male (years)
52 Expected years of education, male (galactic years)

16 Mobile phone subscriptions (per 100 people)
67 Interstellar phone subscriptions (per 100 people)

17 Renewable energy consumption (% of total final energy consumption)
54 Renewable energy consumption (% of total final energy consumption)

18 Current health expenditure (% of GDP)
69 Current health expenditure (% of GGP)

19 Human Development Index (HDI), male
71 Intergalactic Development Index (IDI), male

20 Expected years of schooling (years)
6 Expected years of education (galactic years)

21 Population, urban (%)
15 Population, urban (%)

22 Natural resource depletion (% of GNI)
48 Natural resource depletion

23 Gross domestic product (GDP), total (2011 PPP $ billions)
44 Gross galactic product (GGP), total

24 Total unemployment rate (female to male ratio)
26 Total unemployment rate (female to male ratio)

25 Unemployment, youth (% ages 15–24)
38 Unemployment, youth (% ages 15–24)

26 Exports and imports (% of GDP)
46 Exports and imports (% of GGP)

27 Old age dependency ratio (old age (65 and older) per 100 people (ages 15-64))
18 Old age dependency ratio (old age (65 and older) per 100 creatures (ages 15-64))

28 Labour force participation rate (% ages 15 and older), female
31 Labour force participation rate (% ages 15 and older), female

29 Gross enrolment ratio, primary (% of primary school-age population)
65 Gross enrolment ratio, primary (% of primary under-age population)

30 Gross domestic product (GDP) per capita (2011 PPP $)
43 Gross galactic product (GGP) per capita

31 Share of employment in nonagriculture, female (% of total employment in nonagriculture)
36 Share of employment in nonagriculture, female (% of total employment in nonagriculture)

32 Expected years of schooling, female (years)
51 Expected years of education, female (galactic years)

33 Life expectancy at birth, female (years)
22 Life expectancy at birth, female (galactic years)

34 Gross capital formation (% of GDP)
13 Gross capital formation (% of GGP)

35 Mortality rate, female adult (per 1,000 people)
39 Mortality rate, female grown up (per 1,000 people)

36 Mean years of schooling, female (years)
49 Mean years of education, female (galactic years)

37 Human Development Index (HDI)
8 Intergalactic Development Index (IDI)

38 Rural population with access to electricity (%)
57 Rural population with access to electricity (%)

39 Internet users, total (% of population)
68 Interstellar Data Net users, total (% of population)

40 Maternal mortality ratio (deaths per 100,000 live births)
53 Maternal mortality ratio (deaths per 100,000 live births)

41 Youth unemployment rate (female to male ratio)
37 Youth unemployment rate (female to male ratio)

42 Life expectancy at birth
3 existence expectancy at birth

43 Gender Development Index (GDI)
72 Gender Development Index (GDI)

44 Population ages 15–64 (millions)
19 Population, ages 15–64 (millions)

45 Income Index
5 Income Index

46 Private capital flows (% of GDP)
77 Private galaxy capital flows (% of GGP)

47 Mean years of schooling (years)
7 Mean years of education (galactic years)

48 Population with at least some secondary education, male (% ages 25 and older)
60 Population with at least some secondary education, male (% ages 25 and older)

49 Unemployment, total (% of labour force)
28 Unemployment, total (% of labour force)

50 Adolescent birth rate (births per 1,000 women ages 15-19)
25 Adolescent birth rate (births per 1,000 female creatures ages 15-19)

51 Population with at least some secondary education (% ages 25 and older)
63 Population with at least some secondary education (% ages 25 and older)

52 Population, under age 5 (millions)
23 Population, under age 5 (millions)

53 Population using at least basic sanitation services (%)
12 Population using at least basic sanitation services (%)

54 HIV prevalence, adult (% ages 15-49), total
76 Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total

55 Vulnerable employment (% of total employment)
27 Vulnerable employment (% of total employment)

56 Infants lacking immunization, DTP (% of one-year-olds)
42 Infants lacking immunization, Combination Vaccine (% of one-galactic year-olds)

57 Gender Inequality Index (GII)
78 Gender Inequality Index (GII)

58 Estimated gross national income per capita, male (2011 PPP$)
55 Estimated gross galactic income per capita, male

59 Gross fixed capital formation (% of GDP)
61 Gross fixed capital formation (% of GGP)

60 Gross national income (GNI) per capita (2011 PPP$)
4 Gross income per capita

61 Mortality rate, under-five (per 1,000 live births)
16 Mortality rate, under-five (per 1,000 live births)

62 Employment in agriculture (% of total employment)
29 Employment in agriculture (% of total employment)

63 Life expectancy at birth, male (years)
21 Life expectancy at birth, male (galactic years)

64 Domestic credit provided by financial sector (% of GDP)
58 Domestic credit provided by financial sector (% of GGP)

65 Forest area (% of total land area)
35 Jungle area (% of total land area)

66 Life expectancy Index
2 existence expectancy index

67 Adjusted net savings (% of GNI)
75 Adjusted net savings

68 Population using at least basic drinking-water services (%)
11 Population using at least basic drinking-water services (%)

69 Tuberculosis incidence (per 100,000 people)
66 Respiratory disease incidence (per 100,000 people)

70 Mortality rate, male adult (per 1,000 people)
40 Mortality rate, male grown up (per 1,000 people)

71 Population, total (millions)
14 Population, total (millions)

72 Young age (0-14) dependency ratio (per 100 people ages 15-64)
24 Young age (0-14) dependency ratio (per 100 creatures ages 15-64)

73 Population with at least some secondary education, female (% ages 25 and older)
59 Population with at least some secondary education, female (% ages 25 and older)


This code was used to save the pickled dict.  
```python
col_map_abs = {}
for i, j in col_map_corr:
    col_map_abs[name[i].strip()] = columns_train[j].strip()

save_obj(col_map_abs, 'column_dict_from_UN_to_Contest_format')
```

In [549]:
# Forming a complete list of all stripped entries in the Country column

full_list_dirty = set()
for i in range(len(data)):
    countries = [x for x in data[i].loc[:, 'Country'] if str(x) != 'nan']
    countries_stripped = set(map(lambda x: x.strip() , countries))
    full_list_dirty |= countries_stripped

In [569]:
entries_to_remove = set([
    'Arab States',
    'Developing Countries',
    'High human development',
    'Human Development',
    'Least Developed Countries',
    'Low human development',
    'Medium human development',
    'Organization for Economic Co-operation and Development',
    'Small Island Developing States',
    'South Asia',
    'Very high human development',
    'World',
    'East Asia and the Pacific',
    'Latin America and the Caribbean',
    'Regions',
    'Sub-Saharan Africa',
    
])
full_list = full_list_dirty - entries_to_remove
full_list = sorted(list(full_list))

In [323]:
# Index rows of each dataframe in data by Country column
for i in range(len(data)):
    data[i].loc(:, 'Country')
    data[i].set_index('Country', inplace=True)

In [325]:
# Select only rows with countries and columns with years and the country list
for i,df in enumerate(data):
    data[i] = df.iloc[0:189, 1:]

In [583]:
for i in range(len(data)):
    for j, country in enumerate(data[i].loc[:, 'Country']):
        if str(country) != 'nan':
            data[i].loc[j, 'Country'] = country.strip()

In [403]:
i=37
print(name[i])
d = data[i].iloc[0:189, 1:]
d

Human Development Index (HDI)

,1991,1992,1993,1994,1995,1996,1997,1998,1999,2000,...,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Country,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.304,0.312,0.308,0.303,0.327,0.331,0.335,0.339,0.343,0.345,...,0.447,0.464,0.465,0.479,0.485,0.488,0.490,0.491,0.493,0.496
Albania,0.625,0.608,0.611,0.617,0.629,0.639,0.639,0.649,0.660,0.667,...,0.729,0.740,0.759,0.771,0.781,0.787,0.788,0.788,0.789,0.791
Algeria,0.582,0.589,0.593,0.597,0.602,0.610,0.619,0.629,0.638,0.646,...,0.720,0.730,0.738,0.737,0.746,0.749,0.751,0.755,0.758,0.759
Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.759,...,0.830,0.828,0.827,0.849,0.846,0.853,0.850,0.854,0.852,0.857
Angola,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.384,0.394,...,0.508,0.510,0.525,0.537,0.547,0.557,0.565,0.570,0.576,0.574
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
Venezuela (Bolivarian Republic of),0.648,0.654,0.656,0.657,0.660,0.662,0.666,0.668,0.670,0.672,...,0.752,0.753,0.764,0.767,0.772,0.770,0.763,0.752,0.735,0.726
Viet Nam,0.484,0.496,0.506,0.517,0.529,0.540,0.539,0.559,0.566,0.578,...,0.650,0.653,0.663,0.668,0.673,0.675,0.680,0.685,0.690,0.693
Yemen,0.396,0.395,0.398,0.398,0.393,0.408,0.418,0.430,0.423,0.432,...,0.503,0.499,0.511,0.501,0.506,0.504,0.493,0.477,0.463,0.463
Zambia,0.421,0.420,0.422,0.418,0.419,0.419,0.420,0.419,0.424,0.428,...,0.521,0.531,0.541,0.552,0.559,0.565,0.570,0.580,0.589,0.591
Zimbabwe,0.500,0.485,0.480,0.478,0.472,0.471,0.466,0.461,0.457,0.452,...,0.448,0.472,0.490,0.516,0.527,0.537,0.544,0.549,0.553,0.563

In [246]:
cols = [int(x) for x in d.columns[1:]]

In [571]:
idx = pd.IndexSlice

undp_ind = pd.MultiIndex.from_product([cols, full_list], names=['year', 'country'])
undp_data = pd.DataFrame(None, index = undp_ind)

In [576]:
undp_data.loc[(slice(None), 'Yemen'), :]

Empty DataFrame
Columns: []
Index: [(1990, Yemen), (1991, Yemen), (1992, Yemen), (1993, Yemen), (1994, Yemen), (1995, Yemen), (1996, Yemen), (1997, Yemen), (1998, Yemen), (1999, Yemen), (2000, Yemen), (2001, Yemen), (2002, Yemen), (2003, Yemen), (2004, Yemen), (2005, Yemen), (2006, Yemen), (2007, Yemen), (2008, Yemen), (2009, Yemen), (2010, Yemen), (2011, Yemen), (2012, Yemen), (2013, Yemen), (2014, Yemen), (2015, Yemen), (2016, Yemen), (2017, Yemen), (2018, Yemen)]

In [591]:
data[0][data[0]['Country'] == 'Afghanistan'].loc[:, '1990']

0    0.122
Name: 1990, dtype: object

In [608]:
np.data[0][data[0]['Country'] == 'a'].loc[:, '1990'].values[0]

numpy.ndarray

In [597]:
data[0].columns[2:]

Index(['1990', '1991', '1992', '1993', '1994', '1995', '1996', '1997', '1998',
       '1999', '2000', '2001', '2002', '2003', '2004', '2005', '2006', '2007',
       '2008', '2009', '2010', '2011', '2012', '2013', '2014', '2015', '2016',
       '2017', '2018'],
      dtype='object')

In [613]:
a = []
len(a) == 0

True

In [619]:
# To be commented 

for df, nam in zip(data, name):
    for country in full_list:
        for year in df.columns[2:]:
            val = df[df['Country'] == country].loc[:, year].values
            if len(val) == 0: 
                undp_data.loc[(int(year), country), nam] = np.nan
            else: undp_data.loc[(int(year), country), nam] = val[0]

In [624]:
undp_data.loc[(slice(None),'Albania'),]

,,Education Index,Employment to population ratio (% ages 15 and older),"Population, ages 65 and older (millions)","Mortality rate, infant (per 1,000 live births)","Human Development Index (HDI), female","Estimated gross national income per capita, female (2011 PPP$)",Share of seats in parliament (% held by women),"Labour force participation rate (% ages 15 and older), male","Remittances, inflows (% of GDP)",International inbound tourists (thousands),...,Domestic credit provided by financial sector (% of GDP),Forest area (% of total land area),Life expectancy Index,Adjusted net savings (% of GNI),Population using at least basic drinking-water services (%),"Tuberculosis incidence (per 100,000 people)","Mortality rate, male adult (per 1,000 people)","Population, total (millions)",Young age (0-14) dependency ratio (per 100 people ages 15-64),"Population with at least some secondary education, female (% ages 25 and older)"
year,country,,,,,,,,,,,,,,,,,,,,,
1990,Albania,0.584,NaN,0.2,34.8,NaN,NaN,NaN,74.6,NaN,NaN,...,NaN,28.8,0.797,2.3,NaN,NaN,144,3.3,53.1,59.5
1991,Albania,0.589,54.9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.797,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,Albania,0.558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.797,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,Albania,0.543,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.798,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,Albania,0.542,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.8,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,Albania,0.551,52.3,0.2,28.5,0.603,3032,NaN,73.9,17.86,304,...,40.5,28.4,0.803,9.9,NaN,NaN,144,3.1,53.8,60.6
1996,Albania,0.558,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.808,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,Albania,0.571,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.813,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,Albania,0.58,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.819,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,Albania,0.586,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.824,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,Albania,0.588,51.6,0.2,21.8,0.637,3865,5.2,73.6,17.18,317,...,51.1,28.1,0.83,19,88,22.0,124,3.1,48.5,71
2001,Albania,0.589,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.835,NaN,88,NaN,NaN,NaN,NaN,NaN
2002,Albania,0.598,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.84,NaN,88,NaN,NaN,NaN,NaN,NaN
2003,Albania,0.605,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.844,NaN,88,NaN,NaN,NaN,NaN,NaN
2004,Albania,0.606,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.847,NaN,88,NaN,NaN,NaN,NaN,NaN
2005,Albania,0.623,48.1,0.3,15.4,0.674,5321,7.1,67.9,16.02,748,...,50.5,28.6,0.85,23,88,19,109,3.1,40.8,75.4
2006,Albania,0.629,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.853,NaN,88,NaN,NaN,NaN,NaN,NaN
2007,Albania,0.642,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.856,NaN,88,NaN,NaN,NaN,NaN,NaN
2008,Albania,0.646,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.86,NaN,88,NaN,NaN,NaN,NaN,NaN
2009,Albania,0.652,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,0.865,NaN,88,NaN,NaN,NaN,NaN,NaN
2010,Albania,0.673,46.6,0.3,10.7,0.728,7446,16.4,63,13.3,2191,...,67.5,28.3,0.87,9.3,88,17,93,2.9,33.6,80.8
2011,Albania,0.715,48.2,0.3,10.1,0.745,7672,15.7,64.4,12.03,2469,...,70.3,28.3,0.876,9.3,88,17,88,2.9,31.8,81.8
2012,Albania,0.743,49.8,0.3,9.5,0.756,8366,15.7,66.1,11.53,3156,...,70.2,28.3,0.881,8.1,88,16,84,2.9,30.3,85.2
2013,Albania,0.763,45.1,0.3,9,0.757,8374,17.9,62.7,10.03,2857,...,72.2,28.2,0.885,7.1,89,19,83,2.9,29,87.7
2014,Albania,0.774,44.9,0.4,8.6,0.759,8379,20,63.9,10.74,3341,...,73.2,28.2,0.889,4.9,91,16,81,2.9,28,90.2
2015,Albania,0.77,46.8,0.4,8.3,0.765,9115,20.7,65.2,11.33,3784,...,68.1,28.2,0.893,7.1,91,16,80,2.9,27.2,92.7
2016,Albania,0.761,47.7,0.4,8.1,0.766,9186,22.9,65.1,11.01,4070,...,66.4,28.1,0.895,8.2,91,16,79,2.9,26.8,93.1
2017,Albania,0.758,48.5,0.4,7.8,0.769,9423,27.9,65,10.06,4643,...,63.6,NaN,0.897,8.2,91,20,77,2.9,26.3,93.1
2018,Albania,0.758,48.3,0.4,NaN,0.779,9780,27.9,64.9,9.68,NaN,...,58.8,NaN,0.899,NaN,NaN,NaN,NaN,2.9,25.8,93.5

In [508]:
undp_data.loc[(1990, slice(None)), :].index

MultiIndex([(1990,                         'Afghanistan'),
            (1990,                             'Albania'),
            (1990,                             'Algeria'),
            (1990,                             'Andorra'),
            (1990,                              'Angola'),
            (1990,                 'Antigua and Barbuda'),
            (1990,                           'Argentina'),
            (1990,                             'Armenia'),
            (1990,                           'Australia'),
            (1990,                             'Austria'),
            ...
            (1990,                            ' Vanuatu'),
            (1990, ' Venezuela (Bolivarian Republic of)'),
            (1990,                           ' Viet Nam'),
            (1990,                              ' Yemen'),
            (1990,                             ' Zambia'),
            (1990,                           ' Zimbabwe'),
            (1990,                            ' Andorra'),
            (1990,                           ' Dominica'),
            (1990,              ' Saint Kitts and Nevis'),
            (1990,                      ' Liechtenstein')],
           names=['year', 'country'], length=384)

In [512]:
undp_data.loc[(1990, slice(None)), :].index.levels[1]

Index(['Afghanistan', 'Albania', 'Algeria', 'Andorra', 'Angola',
       'Antigua and Barbuda', 'Argentina', 'Armenia', 'Australia', 'Austria',
       ...
       ' Vanuatu', ' Venezuela (Bolivarian Republic of)', ' Viet Nam',
       ' Yemen', ' Zambia', ' Zimbabwe', ' Andorra', ' Dominica',
       ' Saint Kitts and Nevis', ' Liechtenstein'],
      dtype='object', name='country', length=384)

In [443]:
for i,x in enumerate((undp_data.loc[(2000, ' Algeria'), :])):
    if not np.isnan(x): print(i)

44

In [628]:
undp_data.to_csv('dataset/undp_data.csv', na_rep='nan')

In [631]:
undp_data.loc[(2017, slice(None)),]

                                        Education Index  \
year country
2017 Afghanistan                                  0.408
     Albania                                      0.758
     Algeria                                      0.674
     Andorra                                      0.701
     Angola                                       0.498
...                                                 ...
     Venezuela (Bolivarian Republic of)             0.7
     Viet Nam                                     0.626
     Yemen                                        0.341
     Zambia                                       0.572
     Zimbabwe                                     0.568

                                        Employment to population ratio (% ages 15 and older)  \
year country
2017 Afghanistan                                                                      64.9
     Albania                                                                          48.5
     Algeria                                                                          36.4
     Andorra                                                                           NaN
     Angola                                                                           72.2
...                                                                                    ...
     Venezuela (Bolivarian Republic of)                                               57.7
     Viet Nam                                                                           76
     Yemen                                                                            33.5
     Zambia                                                                           69.8
     Zimbabwe                                                                         79.3

                                        Population, ages 65 and older (millions)  \
year country
2017 Afghanistan                                                             0.9
     Albania                                                                 0.4
     Algeria                                                                 2.6
     Andorra                                                                 NaN
     Angola                                                                  0.7
...                                                                          ...
     Venezuela (Bolivarian Republic of)                                        2
     Viet Nam                                                                6.7
     Yemen                                                                   0.8
     Zambia                                                                  0.4
     Zimbabwe                                                                0.4

                                        Mortality rate, infant (per 1,000 live births)  \
year country
2017 Afghanistan                                                                  51.5
     Albania                                                                       7.8
     Algeria                                                                      20.6
     Andorra                                                                       3.2
     Angola                                                                       53.8
...                                                                                ...
     Venezuela (Bolivarian Republic of)                                           25.7
     Viet Nam                                                                     16.7
     Yemen                                                                        43.2
     Zambia                                                                       41.5
     Zimbabwe                                                                     36.5

                                        Human Development Index (HDI), female  \
year country
2017 Afghanistan                                                        0.408
     Albania                                                            0.769
     Algeria                                                            0.684
     Andorra                                                              NaN
     Angola                                                             0.547
...                                                                       ...
     Venezuela (Bolivarian Republic of)                                 0.738
     Viet Nam                                                            0.69
     Yemen                                                              0.255
     Zambia                                                             0.562
     Zimbabwe                                                            0.53

                                        Estimated gross national income per capita, female (2011 PPP$)  \
year country
2017 Afghanistan                                                                      1112
     Albania                                                                          9423
     Algeria                                                                          4093
     Andorra                                                                           NaN
     Angola                                                                           5054
...                                                                                    ...
     Venezuela (Bolivarian Republic of)                                               7827
     Viet Nam                                                                         5455
     Yemen                                                                             182
     Zambia                                                                           2985
     Zimbabwe                                                                         1986

                                        Share of seats in parliament (% held by women)  \
year country
2017 Afghanistan                                                                  27.4
     Albania                                                                      27.9
     Algeria                                                                      21.3
     Andorra                                                                      32.1
     Angola                                                                       30.5
...                                                                                ...
     Venezuela (Bolivarian Republic of)                                           22.2
     Viet Nam                                                                     26.7
     Yemen                                                                         0.5
     Zambia                                                                         18
     Zimbabwe                                                                     36.2

                                        Labour force participation rate (% ages 15 and older), male  \
year country
2017 Afghanistan                                                                      82.2
     Albania                                                                            65
     Algeria                                                                          67.6
     Andorra                                                                           NaN
     Angola                                                                           80.2
...                                                                                    ...
     Venezuela (Bolivarian Republic of)                                               77.3
     Viet Nam                                                                         82.6
     Yemen                                                                            70.7
     Zambia                                                                           79.9
     Zimbabwe                                                                         88.9

                                        Remittances, inflows (% of GDP)  \
year country
2017 Afghanistan                                                   3.64
     Albania                                                      10.06
     Algeria                                                       1.07
     Andorra                                                        NaN
     Angola                                                           0
...                                                                 ...
     Venezuela (Bolivarian Republic of)                             NaN
     Viet Nam                                                       6.7
     Yemen                                                        14.06
     Zambia                                                        0.36
     Zimbabwe                                                      7.58

                                        International inbound tourists (thousands)  \
year country
2017 Afghanistan                                                               NaN
     Albania                                                                  4643
     Algeria                                                                  2451
     Andorra                                                                   NaN
     Angola                                                                    261
...                                                                            ...
     Venezuela (Bolivarian Republic of)                                        427
     Viet Nam                                                                12922
     Yemen                                                                     NaN
     Zambia                                                                   1083
     Zimbabwe                                                                 2423

                                         ...  \
year country                             ...
2017 Afghanistan                         ...
     Albania                             ...
     Algeria                             ...
     Andorra                             ...
     Angola                              ...
...                                      ...
     Venezuela (Bolivarian Republic of)  ...
     Viet Nam                            ...
     Yemen                               ...
     Zambia                              ...
     Zimbabwe                            ...

                                        Domestic credit provided by financial sector (% of GDP)  \
year country
2017 Afghanistan                                                                      -2.5
     Albania                                                                          63.6
     Algeria                                                                          67.9
     Andorra                                                                           NaN
     Angola                                                                           29.7
...                                                                                    ...
     Venezuela (Bolivarian Republic of)                                                NaN
     Viet Nam                                                                        141.9
     Yemen                                                                             NaN
     Zambia                                                                           21.8
     Zimbabwe                                                                          NaN

                                        Forest area (% of total land area)  \
year country
2017 Afghanistan                                                       NaN
     Albania                                                           NaN
     Algeria                                                           NaN
     Andorra                                                           NaN
     Angola                                                            NaN
...                                                                    ...
     Venezuela (Bolivarian Republic of)                                NaN
     Viet Nam                                                          NaN
     Yemen                                                             NaN
     Zambia                                                            NaN
     Zimbabwe                                                          NaN

                                        Life expectancy Index  \
year country
2017 Afghanistan                                        0.679
     Albania                                            0.897
     Algeria                                            0.869
     Andorra                                            0.949
     Angola                                             0.621
...                                                       ...
     Venezuela (Bolivarian Republic of)                 0.804
     Viet Nam                                            0.85
     Yemen                                              0.709
     Zambia                                             0.662
     Zimbabwe                                           0.628

                                        Adjusted net savings (% of GNI)  \
year country
2017 Afghanistan                                                    2.7
     Albania                                                        8.2
     Algeria                                                       21.2
     Andorra                                                        NaN
     Angola                                                       -16.3
...                                                                 ...
     Venezuela (Bolivarian Republic of)                             NaN
     Viet Nam                                                      13.4
     Yemen                                                          NaN
     Zambia                                                         NaN
     Zimbabwe                                                     -22.2

                                        Population using at least basic drinking-water services (%)  \
year country
2017 Afghanistan                                                                        67
     Albania                                                                            91
     Algeria                                                                            94
     Andorra                                                                           100
     Angola                                                                             56
...                                                                                    ...
     Venezuela (Bolivarian Republic of)                                                 96
     Viet Nam                                                                           95
     Yemen                                                                              63
     Zambia                                                                             60
     Zimbabwe                                                                           64

                                        Tuberculosis incidence (per 100,000 people)  \
year country
2017 Afghanistan                                                                189
     Albania                                                                     20
     Algeria                                                                     70
     Andorra                                                                    1.5
     Angola                                                                     359
...                                                                             ...
     Venezuela (Bolivarian Republic of)                                          42
     Viet Nam                                                                   129
     Yemen                                                                       48
     Zambia                                                                     361
     Zimbabwe                                                                   221

                                        Mortality rate, male adult (per 1,000 people)  \
year country
2017 Afghanistan                                                                  240
     Albania                                                                       77
     Algeria                                                                      104
     Andorra                                                                      NaN
     Angola                                                                       273
...                                                                               ...
     Venezuela (Bolivarian Republic of)                                           189
     Viet Nam                                                                     178
     Yemen                                                                        240
     Zambia                                                                       342
     Zimbabwe                                                                     362

                                        Population, total (millions)  \
year country
2017 Afghanistan                                                36.3
     Albania                                                     2.9
     Algeria                                                    41.4
     Andorra                                                     0.1
     Angola                                                     29.8
...                                                              ...
     Venezuela (Bolivarian Republic of)                         29.4
     Viet Nam                                                   94.6
     Yemen                                                      27.8
     Zambia                                                     16.9
     Zimbabwe                                                   14.2

                                        Young age (0-14) dependency ratio (per 100 people ages 15-64)  \
year country
2017 Afghanistan                                                                      81.3
     Albania                                                                          26.3
     Algeria                                                                          46.2
     Andorra                                                                           NaN
     Angola                                                                           92.4
...                                                                                    ...
     Venezuela (Bolivarian Republic of)                                                 43
     Viet Nam                                                                         33.1
     Yemen                                                                              70
     Zambia                                                                           86.5
     Zimbabwe                                                                         78.2

                                        Population with at least some secondary education, female (% ages 25 and older)
year country
2017 Afghanistan                                                                      11.4
     Albania                                                                          93.1
     Algeria                                                                          37.5
     Andorra                                                                          71.5

In [ ]:
data_tra

In [661]:
undp_data.columns

Index(['Education Index',
       'Employment to population ratio (% ages 15 and older)',
       'Population, ages 65 and older (millions)',
       'Mortality rate, infant (per 1,000 live births)',
       'Human Development Index (HDI), female',
       'Estimated gross national income per capita, female (2011 PPP$)',
       'Share of seats in parliament (% held by women)',
       'Labour force participation rate (% ages 15 and older), male',
       'Remittances, inflows (% of GDP)',
       'International inbound tourists (thousands)',
       'Infants lacking immunization, measles (% of one-year-olds)',
       'Foreign direct investment, net inflows (% of GDP)',
       'Employment in services (% of total employment)',
       'Labour force participation rate (% ages 15 and older)',
       'Mean years of schooling, male (years)',
       'Expected years of schooling, male (years)',
       'Mobile phone subscriptions (per 100 people)',
       'Renewable energy consumption (% of total final energy consumption)',
       'Current health expenditure (% of GDP)',
       'Human Development Index (HDI), male',
       'Expected years of schooling (years)', 'Population, urban (%)',
       'Natural resource depletion (% of GNI)',
       'Gross domestic product (GDP), total (2011 PPP $ billions)',
       'Total unemployment rate (female to male ratio)',
       'Unemployment, youth (% ages 15–24)', 'Exports and imports (% of GDP)',
       'Old age dependency ratio (old age (65 and older) per 100 people (ages 15-64))',
       'Labour force participation rate (% ages 15 and older), female',
       'Gross enrolment ratio, primary (% of primary school-age population)',
       'Gross domestic product (GDP) per capita (2011 PPP $)',
       'Share of employment in nonagriculture, female (% of total employment in nonagriculture)',
       'Expected years of schooling, female (years)',
       'Life expectancy at birth, female (years)',
       'Gross capital formation (% of GDP)',
       'Mortality rate, female adult (per 1,000 people)',
       'Mean years of schooling, female (years)',
       'Human Development Index (HDI)',
       'Rural population with access to electricity (%)',
       'Internet users, total (% of population)',
       'Maternal mortality ratio (deaths per 100,000 live births)',
       'Youth unemployment rate (female to male ratio)',
       'Life expectancy at birth', 'Gender Development Index (GDI)',
       'Population ages 15–64 (millions)', 'Income Index',
       'Private capital flows (% of GDP)', 'Mean years of schooling (years)',
       'Population with at least some secondary education, male (% ages 25 and older)',
       'Unemployment, total (% of labour force)',
       'Adolescent birth rate (births per 1,000 women ages 15-19)',
       'Population with at least some secondary education (% ages 25 and older)',
       'Population, under age 5 (millions)',
       'Population using at least basic sanitation services (%)',
       'HIV prevalence, adult (% ages 15-49), total',
       'Vulnerable employment (% of total employment)',
       'Infants lacking immunization, DTP (% of one-year-olds)',
       'Gender Inequality Index (GII)',
       'Estimated gross national income per capita, male (2011 PPP$)',
       'Gross fixed capital formation (% of GDP)',
       'Gross national income (GNI) per capita (2011 PPP$)',
       'Mortality rate, under-five (per 1,000 live births)',
       'Employment in agriculture (% of total employment)',
       'Life expectancy at birth, male (years)',
       'Domestic credit provided by financial sector (% of GDP)',
       'Forest area (% of total land area)', 'Life expectancy Index',
       'Adjusted net savings (% of GNI)',
       'Population using at least basic drinking-water services (%)',
       'Tuberculosis incidence (per 100,000 people)',
       'Mortality rate, male adult (per 1,000 people)',
       'Population, total (millions)',
       'Young age (0-14) dependency ratio (per 100 people ages 15-64)',
       'Population with at least some secondary education, female (% ages 25 and older)'],
      dtype='object')

In [646]:
#Test data_trainset contains objects only of latest 10 years,
#including unmentioned in train data_train latest year 1016064
unique_years = data_train['galactic year'].unique()
print (unique_years)
print (unique_years.shape)

# print(np.sort(test['galactic year'].unique()))
# print(test['galactic year'].unique().shape)

unique_names = data_train['galaxy'].unique()
unique_names = np.sort(unique_names)
print (unique_names[:5])
print (unique_names.shape)

#Let's map all galactic years to years with increment of 1 year
# and map all galaxies to their unique integer key

#dictionary for replacement of galactic years with normal years
di = {val: ind+1990 for ind, val in enumerate(np.append(unique_years,
                                                     1016064))}
#dictionary for replacement of names with integer keys
di_names = {val: ind+1 for ind, val in enumerate(unique_names)}
data_train.replace({'galactic year':di}, inplace=True)
#test.replace({'galactic year':di}, inplace=True)

# data_train.replace({'galaxy':di_names}, inplace=True)
# test.replace({'galaxy':di_names}, inplace=True)

[ 990025  991020  992016  993012  994009  995006  996004  997002  998001
  999000 1000000 1001000 1002001 1003002 1004004 1005006 1006009 1007012
 1008016 1009020 1010025 1011030 1012036 1013042 1014049 1015056]
(26,)
['Andromeda Galaxy (M31)' 'Andromeda I' 'Andromeda II' 'Andromeda III'
 'Andromeda IX']
(181,)

In [653]:
unique_data_years = data_train['galactic year'].unique()
unique_galaxy_names = data_train['galaxy'].unique()

In [659]:
data_train_m = data_train.set_index(['galactic year', 'galaxy'])

In [668]:
# Preparing train set to compare with the UNDP dataset. I dropped some columns since I believe 
# the HDI Ranks for the year from which the original dataset was pulled might
# be different from the one in 2018
data_train_cl = data_train_m.drop(labels=['Intergalactic Development Index (IDI), Rank',
                          'Intergalactic Development Index (IDI), female, Rank',
                          'Intergalactic Development Index (IDI), male, Rank',
                          'y'
                         ],
                  axis = 1)

In [669]:
data_train_cl

                                            existence expectancy index  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)                    0.628657
              Camelopardalis B                                0.818082
              Virgo I                                         0.659443
              UGC 8651 (DDO 181)                              0.555862
              Tucana Dwarf                                    0.991196
...                                                                ...
2015          Columba I                                       1.029704
              Leo II Dwarf (Leo B, DDO 93)                    0.937869
              Canes Venatici I Dwarf                          1.036144
              KKs 3                                           0.939034
              NGC 5237                                        1.032244

                                            existence expectancy at birth  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)                      63.125200
              Camelopardalis B                                  81.004994
              Virgo I                                           59.570534
              UGC 8651 (DDO 181)                                52.333293
              Tucana Dwarf                                      81.802464
...                                                                   ...
2015          Columba I                                         82.832063
              Leo II Dwarf (Leo B, DDO 93)                      75.877098
              Canes Venatici I Dwarf                            93.540275
              KKs 3                                             78.274427
              NGC 5237                                          91.641356

                                            Gross income per capita  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)             27109.234310
              Camelopardalis B                         30166.793958
              Virgo I                                   8441.707353
              UGC 8651 (DDO 181)                                NaN
              Tucana Dwarf                             81033.956906
...                                                             ...
2015          Columba I                                34310.471408
              Leo II Dwarf (Leo B, DDO 93)             36899.067719
              Canes Venatici I Dwarf                   37002.977875
              KKs 3                                    28180.459770
              NGC 5237                                 73109.215949

                                            Income Index  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)      0.646039
              Camelopardalis B                  0.852246
              Virgo I                           0.499762
              UGC 8651 (DDO 181)                     NaN
              Tucana Dwarf                      1.131163
...                                                  ...
2015          Columba I                         0.855094
              Leo II Dwarf (Leo B, DDO 93)      0.929494
              Canes Venatici I Dwarf            1.085245
              KKs 3                             0.687655
              NGC 5237                          1.207746

                                            Expected years of education (galactic years)  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)                                      8.240543
              Camelopardalis B                                                 10.671823
              Virgo I                                                           8.840316
              UGC 8651 (DDO 181)                                                     NaN
              Tucana Dwarf                                                     13.800672
...                                                                                  ...
2015          Columba I                                                        18.578586
              Leo II Dwarf (Leo B, DDO 93)                                     16.153857
              Canes Venatici I Dwarf                                           21.066473
              KKs 3                                                             9.388911
              NGC 5237                                                         18.910920

                                            Mean years of education (galactic years)  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)                                       NaN
              Camelopardalis B                                              4.742470
              Virgo I                                                       5.583973
              UGC 8651 (DDO 181)                                                 NaN
              Tucana Dwarf                                                 13.188907
...                                                                              ...
2015          Columba I                                                    10.557143
              Leo II Dwarf (Leo B, DDO 93)                                  9.151665
              Canes Venatici I Dwarf                                       16.661344
              KKs 3                                                         8.908748
              NGC 5237                                                     16.202486

                                            Intergalactic Development Index (IDI)  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)                                    NaN
              Camelopardalis B                                           0.833624
              Virgo I                                                    0.469110
              UGC 8651 (DDO 181)                                              NaN
              Tucana Dwarf                                               0.910341
...                                                                           ...
2015          Columba I                                                  0.906573
              Leo II Dwarf (Leo B, DDO 93)                               0.865822
              Canes Venatici I Dwarf                                     0.983835
              KKs 3                                                      0.735694
              NGC 5237                                                   1.171634

                                            Education Index  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)              NaN
              Camelopardalis B                     0.467873
              Virgo I                              0.363837
              UGC 8651 (DDO 181)                        NaN
              Tucana Dwarf                         0.918353
...                                                     ...
2015          Columba I                            0.862826
              Leo II Dwarf (Leo B, DDO 93)         0.747577
              Canes Venatici I Dwarf               1.100779
              KKs 3                                0.602703
              NGC 5237                             1.085080

                                            Population using at least basic drinking-water services (%)  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)                                                NaN
              Camelopardalis B                                                            NaN
              Virgo I                                                                     NaN
              UGC 8651 (DDO 181)                                                          NaN
              Tucana Dwarf                                                                NaN
...                                                                                       ...
2015          Columba I                                                            116.585709
              Leo II Dwarf (Leo B, DDO 93)                                         121.672753
              Canes Venatici I Dwarf                                               125.376956
              KKs 3                                                                105.345928
              NGC 5237                                                             111.904849

                                            Population using at least basic sanitation services (%)  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)                                                NaN
              Camelopardalis B                                                            NaN
              Virgo I                                                                     NaN
              UGC 8651 (DDO 181)                                                          NaN
              Tucana Dwarf                                                                NaN
...                                                                                       ...
2015          Columba I                                                            121.891775
              Leo II Dwarf (Leo B, DDO 93)                                         115.422812
              Canes Venatici I Dwarf                                               114.907359
              KKs 3                                                                 88.416415
              NGC 5237                                                             139.787997

                                            ...  \
galactic year galaxy                        ...
1990          Large Magellanic Cloud (LMC)  ...
              Camelopardalis B              ...
              Virgo I                       ...
              UGC 8651 (DDO 181)            ...
              Tucana Dwarf                  ...
...                                         ...
2015          Columba I                     ...
              Leo II Dwarf (Leo B, DDO 93)  ...
              Canes Venatici I Dwarf        ...
              KKs 3                         ...
              NGC 5237                      ...

                                            Interstellar phone subscriptions (per 100 people)  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)                                                NaN
              Camelopardalis B                                                            NaN
              Virgo I                                                                     NaN
              UGC 8651 (DDO 181)                                                          NaN
              Tucana Dwarf                                                                NaN
...                                                                                       ...
2015          Columba I                                                            121.836488
              Leo II Dwarf (Leo B, DDO 93)                                         157.818080
              Canes Venatici I Dwarf                                               177.621424
              KKs 3                                                                 96.875054
              NGC 5237                                                             177.185255

                                            Interstellar Data Net users, total (% of population)  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)                                                NaN
              Camelopardalis B                                                            NaN
              Virgo I                                                                     NaN
              UGC 8651 (DDO 181)                                                          NaN
              Tucana Dwarf                                                                NaN
...                                                                                       ...
2015          Columba I                                                             79.897857
              Leo II Dwarf (Leo B, DDO 93)                                          53.061093
              Canes Venatici I Dwarf                                               116.206334
              KKs 3                                                                 41.923105
              NGC 5237                                                             120.694804

                                            Current health expenditure (% of GGP)  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)                                    NaN
              Camelopardalis B                                                NaN
              Virgo I                                                         NaN
              UGC 8651 (DDO 181)                                              NaN
              Tucana Dwarf                                                    NaN
...                                                                           ...
2015          Columba I                                                 10.392312
              Leo II Dwarf (Leo B, DDO 93)                              10.296360
              Canes Venatici I Dwarf                                     9.601421
              KKs 3                                                      4.137744
              NGC 5237                                                  18.252986

                                            Intergalactic Development Index (IDI), female  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)                                            NaN
              Camelopardalis B                                                        NaN
              Virgo I                                                                 NaN
              UGC 8651 (DDO 181)                                                      NaN
              Tucana Dwarf                                                            NaN
...                                                                                   ...
2015          Columba I                                                          0.943410
              Leo II Dwarf (Leo B, DDO 93)                                       0.915225
              Canes Venatici I Dwarf                                             1.097208
              KKs 3                                                              0.596164
              NGC 5237                                                           1.018083

                                            Intergalactic Development Index (IDI), male  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)                                          NaN
              Camelopardalis B                                                      NaN
              Virgo I                                                               NaN
              UGC 8651 (DDO 181)                                                    NaN
              Tucana Dwarf                                                          NaN
...                                                                                 ...
2015          Columba I                                                        0.902237
              Leo II Dwarf (Leo B, DDO 93)                                     0.798083
              Canes Venatici I Dwarf                                           1.044890
              KKs 3                                                            0.754729
              NGC 5237                                                         1.099254

                                            Gender Development Index (GDI)  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)                             NaN
              Camelopardalis B                                         NaN
              Virgo I                                                  NaN
              UGC 8651 (DDO 181)                                       NaN
              Tucana Dwarf                                             NaN
...                                                                    ...
2015          Columba I                                           1.060532
              Leo II Dwarf (Leo B, DDO 93)                        1.055118
              Canes Venatici I Dwarf                              1.114754
              KKs 3                                               0.825864
              NGC 5237                                            1.032783

                                            Adjusted net savings   \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)                    NaN
              Camelopardalis B                          19.177926
              Virgo I                                   21.151265
              UGC 8651 (DDO 181)                              NaN
              Tucana Dwarf                                    NaN
...                                                           ...
2015          Columba I                                 26.438719
              Leo II Dwarf (Leo B, DDO 93)              20.637654
              Canes Venatici I Dwarf                    28.154859
              KKs 3                                     38.963157
              NGC 5237                                  23.337587

                                            Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)                                                NaN
              Camelopardalis B                                                            NaN
              Virgo I                                                                6.534020
              UGC 8651 (DDO 181)                                                     5.912194
              Tucana Dwarf                                                           5.611753
...                                                                                       ...
2015          Columba I                                                              3.023709
              Leo II Dwarf (Leo B, DDO 93)                                           4.470596
              Canes Venatici I Dwarf                                                 5.193997
              KKs 3                                                                  2.854140
              NGC 5237                                                                    NaN

                                            Private galaxy capital flows (% of GGP)  \
galactic year galaxy
1990          Large Magellanic Cloud (LMC)                                      NaN
              Camelopardalis B                                            22.785018
              Virgo I                                                           NaN
              UGC 8651 (DDO 181)                                                NaN
              Tucana Dwarf                                                      NaN
...                                                                             ...
2015          Columba I                                                   29.294865
              Leo II Dwarf (Leo B, DDO 93)                                31.085400
              Canes Venatici I Dwarf                                      32.145570
              KKs 3                                                       27.227179
              NGC 5237                                                    29.957851

                                            Gender Inequality Index (GII)
galactic year galaxy
1990          Large Magellanic Cloud (LMC)                            NaN
              Camelopardalis B                                        NaN
              Virgo I                                                 NaN

In [856]:
unique_names.size

181

In [700]:
# Inverse dictionary of col_map_abs: Contest column names -> UNDP column names
col_map_abs_inv = {v: k for k, v in col_map_abs.items()}

In [704]:
undp_order = [col_map_abs_inv.get(x) for x in data_train_cl.columns]

In [707]:
undp_clean = undp_data[undp_order]

In [708]:
undp_clean.to_csv('dataset/undp_clean.csv', na_rep='nan')

In [924]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
data_train_scaled = scaler.fit_transform(data_train_cl)
undp_clean_scaled = scaler.fit_transform(undp_clean)

data_train_scaled_sliced = scaler.fit_transform(data_train_cl.loc[(2015, slice(None)),])
undp_clean_scaled_sliced = scaler.fit_transform(undp_clean.loc[(2015, slice(None)),])

In [941]:
from sklearn.metrics.pairwise import pairwise_distances, nan_euclidean_distances

# pair_dist = pairwise_distances(data_train_scaled,
#                                undp_clean_scaled,
#                                metric='nan_euclidean')
pair_dist_slice = pairwise_distances(data_train_scaled_sliced,
                               undp_clean_scaled_sliced,
                               metric='nan_euclidean')

In [942]:
pair_dist_m = np.nan_to_num(pair_dist, nan=np.inf)
pair_dist_slice_m = np.nan_to_num(pair_dist_slice, nan=np.inf)

In [943]:
np.argmin(pair_dist_m, axis = 1)

array([3886, 2671, 3886, ..., 5151,  483, 3911])

In [944]:
print(pair_dist_m.shape)
print(pair_dist_slice_m.shape)

(3865, 5684)
(87, 196)

In [952]:
a = np.argmin(pair_dist_slice_m, axis = 0)
print(a.shape)
a

(196,)

array([31, 23,  9,  2, 10, 54, 78, 23,  4, 57, 60,  5, 22, 39, 54, 84, 63,
       71, 61, 13, 26, 36, 40,  1, 19, 20, 49, 76, 41, 68, 10,  6, 64, 64,
        5, 72,  1, 48, 81, 76, 52, 20, 78, 75, 84, 55,  4, 29, 53, 71, 82,
       53, 83, 62, 76, 84, 43, 33, 50, 23, 65, 86, 35, 49, 23,  6, 17,  2,
       46, 44, 64, 76, 13, 11, 59,  8, 20,  4, 72, 39, 28, 53,  8,  5,  2,
       23,  7, 34, 32, 10, 42, 42, 84, 38, 77, 68, 84, 56, 43, 30, 53, 57,
       80, 67, 61, 21, 71,  0, 64,  3, 34, 11, 66, 82, 47, 45, 19, 60, 36,
       53, 79, 68, 43, 34, 68, 16,  4, 59, 76, 62, 46, 57, 22, 85, 23, 34,
       71, 18, 12, 12, 26, 51,  2, 22, 25, 20, 14, 60, 46, 46, 45,  3, 13,
       22, 48, 80, 27, 69, 16, 80, 80, 47, 64, 43, 70,  2, 74, 48, 27, 65,
        6, 85, 77, 79, 15, 18, 58, 71, 32, 53, 25, 50, 34, 10, 37, 38, 86,
       86, 78, 24, 47, 71, 12, 85, 73, 21])

In [959]:
data_train_cl.loc[(2015, slice(None)),].index[9]

(2015, 'Tucana III')

In [960]:
undp_clean.loc[(2015, slice(None)),].index[2]

(2015, 'Algeria')

In [962]:
data_train_cl.loc[(slice(None), 'Tucana III'), ]

,,existence expectancy index,existence expectancy at birth,Gross income per capita,Income Index,Expected years of education (galactic years),Mean years of education (galactic years),Intergalactic Development Index (IDI),Education Index,Population using at least basic drinking-water services (%),Population using at least basic sanitation services (%),...,Interstellar phone subscriptions (per 100 people),"Interstellar Data Net users, total (% of population)",Current health expenditure (% of GGP),"Intergalactic Development Index (IDI), female","Intergalactic Development Index (IDI), male",Gender Development Index (GDI),Adjusted net savings,"Creature Immunodeficiency Disease prevalence, adult (% ages 15-49), total",Private galaxy capital flows (% of GGP),Gender Inequality Index (GII)
galactic year,galaxy,,,,,,,,,,,,,,,,,,,,,
1990,Tucana III,0.845001,68.971487,19324.631916,0.928082,14.781559,6.822736,0.787343,0.613723,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,20.724671,5.711531,NaN,NaN
1991,Tucana III,0.880614,78.821490,26032.545957,0.964438,12.428069,7.507049,0.732548,0.584196,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,Tucana III,0.853260,77.964977,32324.135962,0.867642,12.360623,7.843894,0.801821,0.535403,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,Tucana III,0.895416,77.827999,28272.990292,0.904636,12.269792,6.485558,0.678860,0.589957,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,Tucana III,0.928282,74.907093,14410.266955,0.952837,14.191382,8.845180,0.824680,0.591660,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,Tucana III,0.933626,83.598108,27547.902185,0.830798,11.855202,9.475612,0.638580,0.659589,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.673493,NaN,0.823146
1996,Tucana III,0.906624,75.635754,33858.272733,0.826357,13.583178,8.948646,0.742529,0.724570,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,Tucana III,0.918028,74.055087,19608.048022,0.911926,12.539746,9.568852,0.779792,0.656767,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,Tucana III,0.892665,82.439487,40627.317379,0.801587,12.904345,8.647004,0.851751,0.658142,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,Tucana III,0.995356,76.848109,26164.639601,0.889351,13.091500,8.494982,0.874110,0.708162,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,Tucana III,0.839054,81.246715,27396.275266,0.789842,13.564773,9.498146,0.824026,0.620911,108.015053,110.050972,...,45.614658,21.622475,5.823228,0.609855,0.744635,0.863392,NaN,4.159954,NaN,0.819638
2001,Tucana III,0.915373,80.394260,29395.518236,0.962106,13.227455,9.434993,0.851063,0.772363,111.301266,110.115677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002,Tucana III,0.950042,79.713121,34144.477940,0.875742,14.196887,9.168293,0.889633,0.685222,103.329931,113.719832,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003,Tucana III,0.900635,85.311150,29836.107361,0.939690,15.913876,7.798397,0.833856,0.697097,119.802959,113.326256,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,Tucana III,1.059975,82.359264,33922.557258,0.755645,15.053972,8.634851,0.849263,0.807759,118.816183,139.294487,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005,Tucana III,1.081940,78.651868,23751.108605,0.885258,16.020341,11.494560,0.942932,0.698034,110.915819,110.305806,...,49.057115,21.481046,5.808578,0.749874,0.860238,0.879092,38.446693,3.973340,NaN,0.794861
2006,Tucana III,1.025517,81.990216,31789.628539,0.969752,15.135161,9.679590,0.974915,0.741695,112.504582,124.627651,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007,Tucana III,1.056417,88.165413,24107.345644,0.781615,15.077847,12.582211,0.854580,0.696778,115.530691,114.291997,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,Tucana III,0.904115,84.954526,40096.088194,1.018781,17.365159,9.142928,0.911063,0.792187,94.012755,109.730720,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,Tucana III,0.910402,83.262150,28772.077437,0.899253,17.648316,9.459965,0.936009,0.744501,116.499779,114.764700,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010,Tucana III,0.891711,82.489030,38057.119238,0.933217,17.422683,11.111312,0.920179,0.758672,110.368916,112.357113,...,123.595525,43.360624,5.984027,0.760290,0.941030,0.938752,42.329100,5.980455,41.766071,0.707612
2011,Tucana III,1.028160,85.532204,35150.066280,0.903741,14.901504,10.703554,0.950681,0.767200,110.274130,117.639391,...,147.700535,30.387377,7.527017,0.799458,0.946471,0.922173,36.510677,4.447581,29.847848,0.845766
2012,Tucana III,0.991063,86.810414,25382.536490,1.014290,15.674440,10.110859,0.928368,0.783755,106.767259,120.093699,...,134.306155,50.664863,9.610034,0.780162,0.948059,0.955929,42.577141,5.747314,NaN,0.659240
2015,Tucana III,1.007233,81.251135,29463.647438,0.930819,18.223690,11.515653,0.875426,0.824154,109.543146,146.348226,...,163.392292,62.283617,9.410430,0.818570,0.934913,0.936340,33.550498,4.647792,NaN,0.645109

In [961]:
undp_clean.loc[(slice(None), 'Algeria'), ]

,,Life expectancy Index,Life expectancy at birth,Gross national income (GNI) per capita (2011 PPP$),Income Index,Expected years of schooling (years),Mean years of schooling (years),Human Development Index (HDI),Education Index,Population using at least basic drinking-water services (%),Population using at least basic sanitation services (%),...,Mobile phone subscriptions (per 100 people),"Internet users, total (% of population)",Current health expenditure (% of GDP),"Human Development Index (HDI), female","Human Development Index (HDI), male",Gender Development Index (GDI),Adjusted net savings (% of GNI),"HIV prevalence, adult (% ages 15-49), total",Private capital flows (% of GDP),Gender Inequality Index (GII)
year,country,,,,,,,,,,,,,,,,,,,,,
1990,Algeria,0.722,66.9,9989,0.695,9.6,3.6,0.578,0.385,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,9.0,0.1,NaN,NaN
1991,Algeria,0.727,67.3,9457,0.687,9.7,3.8,0.582,0.395,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1992,Algeria,0.732,67.6,9462,0.687,9.8,4,0.589,0.405,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1993,Algeria,0.737,67.9,9171,0.683,9.8,4.3,0.593,0.414,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1994,Algeria,0.741,68.2,8847,0.677,9.9,4.5,0.597,0.424,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1995,Algeria,0.747,68.5,8904,0.678,9.8,4.7,0.602,0.431,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1,NaN,0.679
1996,Algeria,0.753,68.9,9069,0.681,10,5,0.61,0.443,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1997,Algeria,0.759,69.3,9099,0.681,10.3,5.2,0.619,0.458,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1998,Algeria,0.765,69.7,9502,0.688,10.5,5.4,0.629,0.473,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1999,Algeria,0.772,70.2,9596,0.689,10.7,5.7,0.638,0.487,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2000,Algeria,0.779,70.6,9700,0.691,10.9,5.9,0.646,0.5,90,84,...,0.3,0.5,3.5,0.531,0.678,0.783,NaN,0.1,NaN,0.627
2001,Algeria,0.786,71.1,10130,0.698,11.1,6.1,0.655,0.513,90,84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2002,Algeria,0.794,71.6,10447,0.702,11.5,6.3,0.666,0.529,90,84,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2003,Algeria,0.802,72.1,11068,0.711,11.7,6.5,0.676,0.542,91,85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2004,Algeria,0.809,72.6,11305,0.714,12,6.7,0.685,0.557,91,85,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2005,Algeria,0.817,73.1,11595,0.718,12.3,6.9,0.694,0.57,91,85,...,41.2,5.8,3.2,0.585,0.726,0.807,26.4,0.1,NaN,0.561
2006,Algeria,0.823,73.5,11734,0.72,12.3,7,0.699,0.577,91,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2007,Algeria,0.83,73.9,12419,0.728,12.6,7.2,0.708,0.588,92,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2008,Algeria,0.836,74.3,12640,0.731,13.1,6.7,0.711,0.588,92,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2009,Algeria,0.841,74.6,12602,0.731,13.6,6.9,0.72,0.608,92,86,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2010,Algeria,0.845,74.9,12946,0.735,14,7.1,0.73,0.626,92,87,...,91.1,12.5,5.1,0.641,0.768,0.835,28.6,0.1,-2.2,0.523
2011,Algeria,0.849,75.2,12908,0.734,14.3,7.4,0.738,0.644,93,87,...,97.1,14.9,5.3,0.649,0.774,0.838,25.2,0.1,-1,0.515
2012,Algeria,0.853,75.4,12910,0.734,13.9,7.6,0.737,0.639,93,87,...,100.4,18.2,6,0.649,0.772,0.841,24.6,0.1,NaN,0.434
2013,Algeria,0.856,75.7,12946,0.735,14.3,7.8,0.746,0.659,93,87,...,103.6,22.5,6,0.658,0.78,0.844,24.1,0.1,NaN,0.432
2014,Algeria,0.86,75.9,13169,0.737,14.4,7.9,0.749,0.662,93,87,...,111.2,29.5,6.5,0.659,0.784,0.841,22.9,0.1,NaN,0.439
2015,Algeria,0.863,76.1,13330,0.739,14.4,7.9,0.751,0.663,93,87,...,108.8,38.2,7,0.676,0.788,0.858,19.6,0.1,NaN,0.442
2016,Algeria,0.866,76.3,13832,0.745,14.5,7.9,0.755,0.668,94,88,...,116,42.9,6.6,0.681,0.793,0.859,22.7,0.1,NaN,0.439
2017,Algeria,0.869,76.5,13656,0.743,14.7,8,0.758,0.674,94,88,...,110.8,47.7,NaN,0.684,0.791,0.864,21.2,0.1,NaN,0.447
2018,Algeria,0.872,76.7,13639,0.743,14.7,8,0.759,0.675,NaN,NaN,...,121.9,59.6,NaN,0.685,0.792,0.865,NaN,NaN,NaN,0.443

In [854]:
undp_clean.index[3886]

(2009, 'Somalia')

In [723]:
data_train_cl.index[345]

(1991, 'KKR 25')